body {
    background-image: url("../img/sunsetsea.png");
	background-attachment: fixed;
	background-position: center;
}

div.title h1 {
	color: white;
	letter-spacing: 3px;
	border: solid white 2px;
	font-size: 35px;
	padding: 20px;
	text-shadow: 0 0 7px white;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	margin-top: 15px;
	font-family: 'Raleway';
}

div.container {
	margin-top: 10px;
	font-family: 'Raleway';
}

div.col {
	color: white;
	border: solid white 1px;
	padding: 10px 20px 10px 20px;
	margin: 20px;
	background-color: rgba(255, 255, 255, 0.3);
	margin-top: 17px;
	font-family: 'Raleway';
}

div.javascript {
	color: white;
	border: solid white 1px;
	padding: 10px 20px 10px 20px;
	margin: 20px;
	background-color: rgba(255, 255, 255, 0.3);
	font-family: 'Raleway';
}


h2 {
	text-shadow: 0 0 4px white;
	font-family: 'Raleway';
}

.links {
	font-size: 30px;
	color: white;
	margin-left: 20px;
	margin-bottom: 20px;
	font-family: 'Raleway';
}

.links a {
	font-size: 30px;
	color: white;
	font-family: 'Raleway';
}

nav a:hover {
	text-shadow: 0 0 2px palevioletred;
	color: white;
}

nav {
	box-shadow: 0 0 15px palevioletred;
	width: 100%;
	background-color: white;
	margin-top: 20px;
}

nav a {
	font-size: 20px;
	font-family: 'Raleway';
	color: palevioletred;
}


@media screen and (max-width: 600px) {
  .col {
    width: 100%;
  }
}
